@import './display';
@import './font-size';
@import './layout';
@import './spacing';
@import './overflow';
@import './colors';

html, body, app-route {
  width: 100%;
  height: 100%;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

body {

  * {
    box-sizing: border-box !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.events-none {
  pointer-events: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}