<div class="d-flex flex-row align-items-start justify-content-start w-100 h-100">
  <div class="sidebar d-flex flex-column align-items-start justify-content-center h-100 p-8 w-100">
    <div class="sidebar__filters w-100">
      <app-filters></app-filters>
    </div>
    <div class="sidebar__list overflow-auto w-100">
      <app-brand-list
        [list]="brandList"
      ></app-brand-list>
    </div>
  </div>
  <div class="flex-1-auto p-16 h-100 overflow-auto">
    <router-outlet></router-outlet>
  </div>
</div>