<div class="car-list-container">
  <div class="car-list-container__brand-list">
    <ng-container *ngIf="brands$ | async as bradsList">
      <app-brand-tile
        *ngFor="let brand of bradsList | sortBy : 'name'"
        [brand]="brand"
        (selectedBrand)="filterByBrand($event)"
      ></app-brand-tile>
    </ng-container>
  </div>
  <div class="car-list-container__model-table">
    <ng-container *ngIf="models$ | async as models">
      <app-car-models-table [models]="models"></app-car-models-table>
    </ng-container>
  </div>
</div>
