<table class="customizable-table w-100 h-100">
  <thead>
    <tr>
      @for (column of tableHeader | sortBy: 'position'; track column.id) {
        <td
        class="px-8 py-12 b-light-blue"
         [style.width.px]="column.width"
        >{{ column.label }}</td>
      }
    </tr>
  </thead>
  <tbody>
    @for (model of tableBodyList; track model.id) {
      <tr>
        @for (column of tableHeader | sortBy: 'position'; track column.id) {
          <td
            [routerLink]="model.id"
            routerLinkActive="router-link-active" 
            class="p-8 cursor-pointer"
            [style.width.px]="column.width"
          >{{ (model[column.property]?.name ?? model[column.property]) | emptyDash }}</td>
        }
      </tr>
    } @empty {
      <span>Brak danych</span>
    }
  </tbody>
</table>