<table class="table w-100 h-100">
  <thead>
    <tr>
      @for (column of tableHeader | sortBy: 'position'; track column.id) {
        <td [style.width.px]="column.width">{{ column.label }}</td>
      }
    </tr>
  </thead>
  <tbody>
    @for (model of tableBodyList; track model.id) {
      <tr>
        @for (column of tableHeader | sortBy: 'position'; track column.id) {
          <td [style.width.px]="column.width">{{ (model[column.property]?.name ?? model[column.property]) | emptyDash }}</td>
        }
      </tr>
    } @empty {
      <span>Brak danych</span>
    }
  </tbody>
</table>